/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "FiraGO";
  src: url("./assets/fonts/firago/FiraGO-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}


/* src/styles.scss */
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;


  @media (min-width: 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  @media (min-width: 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
    }
  }
}

:root {
  /* --- PALETTE: Warm Memories --- */

  /* Primary Action (Buttons, Price, Links) */
  --color-primary: #FF6B6B;
  /* Coral Red */
  --color-primary-hover: #E55B5B;
  /* Slightly Darker Red for hover */

  /* Secondary (Badges, Icons, Highlights) */
  --color-secondary: #FFD93D;
  /* Sunny Yellow */

  /* Typography */
  --color-text-main: #2D3436;
  /* Charcoal */
  --color-text-muted: #636E72;
  /* Lighter Gray for descriptions */

  /* Structural */
  --color-bg-body: #FFFFFF;
  /* Pure White */
  --color-border: #E2E8F0;
  /* Soft Gray */
}

/* --- GLOBAL DEFAULTS --- */

body {
  font-family: "FiraGO";
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-main);
  font-feature-settings: "case" on;
}

button {
  font-feature-settings: "case" on;
}

p {
  color: var(--color-text-muted);
  line-height: 1.6;
}

/* --- REUSABLE COMPONENTS --- */

/* Primary Button (Use for "Upload", "Order", "Pay") */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  /* Rounded corners look friendlier */
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

/* Discount Badge (Use for "-20%", "New") */
.badge-yellow {
  background-color: var(--color-secondary);
  color: var(--color-text-main);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 700;
}

/* Price Tag Text */
.text-price {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;
}

/* Section Borders */
.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.border-bottom-primary {
  border-bottom: 2px solid var(--color-primary);
}

/* Text colors mannually */
.mainTextColor {
  color: var(--color-text-main);
}

.secondTextColor {
  color: var(--color-text-muted);
}

.secondBgColor {
  background-color: var(--color-border);
}

/* Secondary (Badges, Icons, Highlights) */
.highlightColor {
  border-color: var(--color-secondary);
}
